{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Market</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <a href="{% url 'products_view' %}" style="color: black; font-size: 20px">My market</a>
        <nav>
            <a href="{% url 'products_list' %}">Products</a>
            <a href="{% url 'product_add_view' %}">Add Product</a>
            <a href="{% url 'category_add_view' %}">Add Category</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
