{% extends 'base.html' %}
{% block content %}
<h1>Products</h1>
<div style="display: flex; flex-wrap: wrap; gap: 20px;">
    {% for product in products %}
        <div style="border: 1px solid #ccc; background-color: #f9f9f9; padding: 10px; width: 600px; display: flex; align-items: flex-start; margin: auto">
            {% if product.image_url %}
                <img src="{{ product.image_url }}" alt="{{ product.title }}" style="width: 200px; margin: auto 0; height: auto; object-fit: cover; flex-shrink: 0;">
            {% endif %}
            <div>
                <h2 style="margin: 5px 0">{{ product.title }}</h2>
                <p style="font-size: 15px; margin: 0;">{{ product.category }}</p>
                <p style="margin: 15px 0; font-size: 20px;"><strong>Price: {{ product.price }}$</strong></p>
                <a href="{{ product.get_absolute_url }}" style="color: #007bff; display: inline-block;">View Details</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
